@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 155, 133;
    --background-end-rgb: 0, 225, 250;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 25px 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 41%;
    left: 41%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.loading-message {
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;
    color: #999;
}
.loading-bg {
    position: relative;
    overflow: hidden;
    min-height: 250px;
}
.payment-wrapper {
    position: relative;
    z-index: 2;
    background: #fff;
}
.payment-wrapper > iframe {
    width: 100%;
}
